<div class="resolution-container">


    <div class="resolutions">
        <!--        <div class="resolution">
                    <span title="" data-tooltip-pos="bottom" class="gjs-pn-btn fa fa-desktop gjs-pn-active" data-tooltip="Desktop"></span>
                    <span title="" data-tooltip-pos="bottom" class="gjs-pn-btn fa fa-tablet" data-tooltip="Tablet"></span>
                    <span title="" data-tooltip-pos="bottom" class="gjs-pn-btn fa fa-mobile" data-tooltip="Mobile"></span>
                </div>-->
        <span 
             ng-repeat="resolution in template.resolutions"
           
             class="fa fa-{{resolution.name}}"
           
             
             ng-click="setDocumentWidth(resolution.resolutionValue)"
             title="{{resolution.resolutionValue <= maxResolutionValue ? resolution.resolutionValue + ' px' : 'Desktop'}}">
        </span>
    </div>
</div>

<!--<div class="resolution-slider-container">
    <cs-buttondropdown
        datasource="resolutionPresets"
        on-command-click="addResolution"
        on-item-click="addResolution"
        datatextfield="name">
        +
    </cs-buttondropdown>
    <div class="resolution-slider"></div>
</div>-->